*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #00152b;
}

#image-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-image {
    width: 100vw;
    height: 100vh;
    object-fit:contain ;
    display: block;

}